.AddForm-button {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    right: -20px;
    top: -20px;
    background-color: #feedd5;
    color: #f7a400;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.AddForm-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* .AddForm-questionBox {

} */

.AddForm-Box {
    width: 100%;
    margin-bottom: 1em;
}

.input {
    outline: none;
    width: 100%;
    padding: 0.8em 0.5em;
}

.AddForm-cancelButton {
    all: unset;
    position: fixed;
    bottom: 40px;
}
