.App {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    /* max-width: 600px; */
    margin-bottom: 40px;
    background-color: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
