@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

:root {
    --pastel-brown: #ffc996;
    --pastel-tomato: #ff8474;
    --pastel-lightPurple: #9f5f80;
    --pastel-purple: #583d72;
    --light-gray: #f4f4f4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

/* index.js */
html,
body,
#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}

/* AddForm.js */
.AddForm {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.inAddForm {
    font-size: 0.8em;
}
.inAddForm span {
    color: var(--pastel-tomato);
}

.AddForm .Home-title {
    font-size: 2em;
    font-weight: 500;
    color: var(--pastel-purple);
    padding-top: 1em;
}

.AddForm-Box {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 2em 0 1em 0;
    border-bottom: 1px solid var(--pastel-lightPurple);
}

.AddForm-Box h3 {
    color: var(--pastel-tomato);
    font-weight: 600;
    margin-bottom: 1em;
}

.AddForm-categoryRadio {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.AddForm-categoryRadio .AddForm-categoryLabel {
    all: unset;
    cursor: pointer;
    color: gray;
    padding: 1em;
}

.AddForm-categoryLabel > input {
    margin-right: 1em;
}

#category {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    outline: none;
}

.AddForm-newCategory,
.AddForm-question,
.AddForm-choice1Img,
.AddForm-choice1,
.AddForm-choice2Img,
.AddForm-choice2 {
    outline: none;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    transition: 0.5s;
    /* font-size: 1.2em; */
}

.AddForm-Box #category,
.AddForm-Box input[type="text"] {
    border: 0.5px solid var(--pastel-brown);
}

#category:focus,
.AddForm-Box input[type="text"]:focus {
    border: 0.5px solid var(--pastel-tomato);
}

.AddForm-Box label {
    background-color: var(--pastel-lightPurple);
    color: white;
    padding: 0.5em;
    font-size: 0.8em;
    font-weight: 600;
    width: 30%;
    text-align: center;
    border-radius: 0.8em;
    margin: 0 auto 0.8em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.AddForm-Box input[type="file"] {
    display: none;
}

.AddForm-imgData {
    /* background-color: chartreuse; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AddForm-imgData .AddForm-img {
    height: 100px;
    border-radius: 0.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.AddForm-imgData button {
    all: unset;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin: 1em 0;
    cursor: pointer;
}

.AddForm-btns {
    margin: 2em 0 1em 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.AddForm-button,
.AddForm-cancelButton {
    all: unset;
    background-color: var(--pastel-tomato);
    padding: 1em 1.5em;
    color: white;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
}

.AddForm-cancelButton {
    background-color: gray;
}

.AddForm-button:active,
.AddForm-cancelButton:active {
    box-shadow: none;
}

/* Profile.js  */
.Profile {
    width: 100%;
    height: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.Profile-title {
    font-size: 2em;
    font-weight: 100;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    color: var(--pastel-purple);
}

.Profile-mail {
    margin-top: 1em;
    font-size: 0.8em;
}

.Profile-mail a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.Profile-userInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: var(--light-gray);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 1em 0;
}

.Profile-userInfo img {
    height: 50%;
    border-radius: 0.5em;
}

.Profile-text {
    line-height: 1.5;
    font-size: 0.9em;
}

.Profile-myTitle {
    font-size: 1.4em;
    /* font-weight: 600; */
    margin-top: 1em;
    color: var(--pastel-tomato);
    text-align: center;
}

.Profile-questions {
    width: 90%;
    height: 100%;
}
