:root {
    --pastel-brown: #ffc996;
    --pastel-tomato: #ff8474;
    --pastel-lightPurple: #9f5f80;
    --pastel-purple: #583d72;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* index.js */
html,
body,
#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#root {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    background-color: #f7a400;
    /* padding-top: 50px; */
}

/* App.js */
.App {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    /* margin-bottom: 40px; */
    background-color: white;
}

/* Auth.js */
.Auth {
    /* border: #f7a400 1px solid; */
    height: 100%;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Auth-title::before {
    content: "뭘 고를지 고민될 때";
    text-align: center;
    white-space: pre;
    font-size: 35px;
    font-weight: 700;
    display: inline-block;
    animation: changeTitle 4s 0.3s both ease-in-out;
}

.Auth-greet {
    color: #8797ad;
    animation: changeButton 2s 4.3s both ease-in-out;
}

.Auth-google {
    all: unset;
    box-sizing: border-box;
    color: white;
    padding: 10px;
    margin-top: 30px;
    height: 60px;
    width: 200px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    background-color: #f7a400;
    animation: changeButton 2s 4.3s both ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@keyframes changeTitle {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        content: "ChoiceWeb";
    }

    75% {
        transform: translate(0);
        opacity: 1;
        content: "ChoiceWeb";
    }

    100% {
        transform: translate(0, -50px);
        content: "ChoiceWeb";
    }
}

@keyframes changeButton {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Title.js */
.Title {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pastel-purple);
    color: white;
    /* border-bottom: gray 0.5px solid; */
}

/* Home.js */
.Home {
    background-color: var(--pastel-lightPurple);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 40px 0;
    padding: 1.5em 2em;
}

.Home-button {
    all: unset;
    position: fixed;
    z-index: 1;
    bottom: 10px;
    background-color: white;
    color: var(--pastel-tomato);
    width: 60px;
    height: 60px;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: 1s;
}

.Home-button:hover {
    transform: scale(1.1);
    background-color: var(--pastel-brown);
}

.Home-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/* Content.js */
.Content {
    width: 100%;
    height: 20%;
    cursor: pointer;
    border-top: 3px solid var(--pastel-tomato);
    border-bottom: 3px solid var(--pastel-tomato);
    /* background-color: var(--pastel-tomato); */
    color: white;
    padding: 5px 10px;
    margin-bottom: 2em;
    line-height: 1.5;
    /* border-radius: 5px; */
    transition: 0.8s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Navigation.js  */
.Navigation {
    background-color: var(--pastel-purple);
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
}

.Navigation-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.Navigation-ul li {
    flex: 1;
    text-align: center;
    height: 100%;
    /* border: #f7a400 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Navigation-Link {
    color: white;
    font-size: 15px;
}

/* ChoiceInfo.js */
.ChoiceInfo {
    width: 80%;
    height: 100%;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.ChoiceInfo-choices {
    height: 100%;
    display: flex;
}

.ChoiceInfo-choice1 {
    flex: 1;
    background-color: coral;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ChoiceInfo-choice2 {
    flex: 1;
    text-align: end;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ChoiceInfo-btns {
    width: 100%;
    display: flex;
}

.ChoiceInfo-btns button {
    flex: 1;
}

img {
    width: 100%;
}

/* AddForm.js */
.AddForm-button {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    right: -20px;
    top: -20px;
    background-color: #feedd5;
    color: #f7a400;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.AddForm-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.AddForm-Box {
    width: 100%;
    margin-bottom: 1em;
}

.input {
    outline: none;
    width: 100%;
    padding: 0.8em 0.5em;
}

.AddForm-cancelButton {
    all: unset;
    position: fixed;
    bottom: 40px;
}
