@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

:root {
    --pastel-brown: #ffc996;
    --pastel-tomato: #ff8474;
    --pastel-lightPurple: #9f5f80;
    --pastel-purple: #583d72;
    --light-gray: #f4f4f4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

/* index.js */
html,
body,
#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}
#root {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* App.js */
.App {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    /* margin-bottom: 40px; */
    background-color: white;
}

/* Title.js */
.Title {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pastel-tomato);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* button {
    all: unset;
    position: fixed;
    top: 0;
    right: 1em;
    height: 50px;
    color: red;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.9rem;
} */

.Alert {
    position: fixed;
    bottom: -3em;
    left: 1em;
    height: 3em;
    min-width: 150px;
    text-align: center;
    padding: 1em;
    z-index: 1;
    background-color: white;
    font-weight: 700;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.Alert#start {
    animation: startAlert 2s forwards;
}

.Alert#complete {
    animation: closeAlert 2s forwards;
}

@keyframes startAlert {
    0% {
        bottom: -3em;
    }
    25% {
        bottom: 50px;
    }
    100% {
        bottom: 50px;
    }
}

@keyframes closeAlert {
    0% {
        bottom: 50px;
    }
    87.5% {
        bottom: 50px;
    }
    100% {
        bottom: -3em;
    }
}

.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(153, 153, 153, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Modal-content {
    background-color: white;
    width: 80%;
    height: 50%;
    border-radius: 10px;
    padding: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    animation: popModal 0.8s;
}

@keyframes popModal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Modal-text {
    font-size: 1.5em;
    line-height: 1.5;
    word-break: keep-all;
}

.Modal-btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.Modal-btns button {
    all: unset;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Modal-btns .Modal-noBtn {
    background-color: var(--light-gray);
}

.Modal-btns .Modal-yesBtn {
    background-color: var(--pastel-tomato);
}

.Modal-img {
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Home.js */
.Home {
    /* background-color: var(--pastel-lightPurple); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 40px 0;
}

.Home#withoutNav {
    padding-bottom: 0;
}

.Home-tip {
    width: 100%;
    height: 40px;
    font-size: 0.9em;
    background-color: var(--light-gray);
    line-height: 40px;
    text-align: center;
}

.Home-responsiveBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    background-color: var(--pastel-brown);
}

.Home-category {
    background-color: var(--pastel-brown);
    width: 100%;
    height: 50px;
}

.Home-categoryList {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: auto;
}

.Home-categoryBtn {
    all: unset;
    height: 30px;
    font-size: 0.8em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 15px;
    padding: 0.5em;
    margin: 0 0.8em;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
}

.Home-button {
    all: unset;
    position: fixed;
    right: 10px;
    bottom: 50px;
    font-size: 30px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: 0.5s;
}

.Home-button,
.Home-categoryBtn.active {
    background-color: var(--pastel-tomato);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-button > a,
.Home-categoryBtn.active {
    width: 100%;
    color: white;
}

.Home-list {
    width: 100%;
    height: 100%;
    padding: 0 1em;
    background-color: white;
    overflow: auto;
}

.Home-noList,
.Home-loading {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-noList {
    font-size: 32px;
    word-break: keep-all;
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .Home-button:hover {
        transform: scale(1.1);
    }

    .Home-responsiveBox {
        flex-direction: row;
    }

    .Home-category {
        height: 100%;
        width: 20%;
        min-width: 200px;
    }
    .Home-categoryList {
        display: block;
        white-space: normal;
        width: 100%;
        padding: 0 1em;
        overflow: auto;
    }

    .Home-categoryBtn {
        margin: 0.8em 0;
        width: 100%;
        height: 40px;
        border-radius: 20px;
        text-align: center;
        font-size: 1em;
    }

    .Home-categoryBtn:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    .Home-list .Content {
        width: 100%;
        background-color: white;
    }

    .Home-list .Content:hover {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transform: translateY(-5px);
    }

    .Home-list .Content:active {
        box-shadow: none;
    }
}

/* Content.js */
.Content {
    width: 100%;
    height: 22%;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 10px;
    line-height: 1.5;
    transition: 0.8s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.Content:active {
    background-color: rgba(0, 0, 0, 0.05);
}

.Content-texts {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-break: keep-all;
    /* justify-content: center; */
}

.Content-question {
    font-weight: 700;
    font-size: 1.2em;
}

.Content-choices {
    display: flex;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.5em;
    white-space: nowrap;
    overflow: hidden;
}

.Content-VS {
    color: var(--pastel-tomato);
    font-size: 0.7em;
    display: inline-block;
    padding: 0 1em;
}

.Content-category {
    background-color: var(--light-gray);
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-size: 0.8em;
}

.Content-when {
    position: absolute;
    bottom: 0;
    right: 10px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
}

/* Navigation.js  */
.Navigation {
    background-color: var(--pastel-lightPurple);
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
}

.Navigation-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.Navigation-ul li {
    flex: 1;
    text-align: center;
    height: 100%;
    /* border: #f7a400 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Navigation-Link {
    color: white;
    font-size: 15px;
    width: 100%;
    height: 100%;
    padding: 0.8em 0;
}

/* ChoiceInfo.js */
.ChoiceInfo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 40px;
    overflow: auto;
    position: relative;
}

.ChoiceInfo-tip {
    width: 100%;
    height: 40px;
    /* padding: 10px; */
    background-color: var(--light-gray);
    line-height: 40px;
    text-align: center;
}

.ChoiceInfo-totalUsers {
    position: absolute;
    right: 10px;
    top: 3em;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.5);
    /* text-decoration: underline; */
}

.ChoiceInfo-totalUsers span {
    color: var(--pastel-tomato);
}

.ChoiceInfo-writer {
    font-size: 1.2em;
    /* color: var(--pastel-purple); */
    margin: 20px 0;
}

.ChoiceInfo-question {
    color: var(--pastel-lightPurple);
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    word-break: keep-all;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 95%;
}

.ChoiceInfo-choices {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: var(--pastel-brown);
    padding: 0 1em;
    /* border-radius: 20px; */
}

.ChoiceInfo-choice1,
.ChoiceInfo-choice2 {
    width: 50%;
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ChoiceInfo-img {
    width: 90%;
    height: 50%;
    border-radius: 5px;
    background-color: var(--light-gray);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.ChoiceInfo-text {
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    word-break: keep-all;
    line-height: 1.2;
    width: 90%;
    /* height: 100px; */
    margin-top: -15px;
    padding: 5px 10px;
    z-index: 1;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ChoiceInfo-choiceBtn {
    all: unset;
    position: absolute;
    bottom: -1em;
    height: 2em;
    width: 50%;
    padding: 5px 15px;
    border-radius: 2em;
    color: white;
    text-align: center;
    font-weight: 600;
    background-color: rgb(128, 128, 128);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.1s;
    cursor: pointer;
}

.ChoiceInfo-choiceBtn:active {
    box-shadow: none;
    transform: scale(0.95);
}

#selected {
    background-color: var(--pastel-tomato);
    /* color: rgba(255, 255, 255, 0.5); */
}

.ChoiceInfo-result {
    width: 100%;
    height: 20px;
    padding: 0 1em;
    margin-top: 3em;
    /* position: absolute;
  bottom: -55px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ChoiceInfo-result > div {
    text-align: center;
    font-size: 0.5em;
    color: var(--pastel-lightPurple);
}

.ChoiceInfo-choice1Per {
    border-radius: 0.5em 0 0 0.5em;
    height: 50%;
    background-color: #b5eaea;
    flex: 1;
    transition: flex 1s;
}

.ChoiceInfo-choice2Per {
    border-radius: 0 0.5em 0.5em 0;
    height: 50%;
    background-color: #edf6e5;
    flex: 1;
    transition: flex 1s;
}

.ChoiceInfo-completeBtn {
    all: unset;
    color: white;
    width: 100px;
    height: 2em;
    padding: 5px 15px;
    margin: 3em 0 1em 0;
    border-radius: 1em;
    text-align: center;
    background-color: var(--pastel-purple);
    opacity: 0.3;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#selectedComplete {
    background-color: var(--pastel-purple);
    opacity: 1;
    cursor: pointer;
    transition: 0.1s;
}

#selectedComplete:active {
    box-shadow: none;
    transform: scale(0.95);
}

.ChoiceInfo-fixedBtns {
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    padding: 0 1em;
    background-color: white;
}

.ChoiceInfo-deleteBtn {
    all: unset;
    height: 50px;
    color: red;
    font-size: 0.9em;
    font-weight: 600;
}

.ChoiceInfo-homeBtn {
    all: unset;
    height: 50px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9em;
    font-weight: 600;
}

.ChoiceInfo-disqus {
    width: 90%;
    overflow: auto;
}

/* AddForm.js */
.AddForm {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.inAddForm {
    font-size: 0.8em;
}
.inAddForm span {
    color: var(--pastel-tomato);
}

.AddForm .Home-title {
    font-size: 2em;
    font-weight: 500;
    color: var(--pastel-purple);
    padding-top: 1em;
}

.AddForm-Box {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 2em 0 1em 0;
    border-bottom: 1px solid var(--pastel-lightPurple);
}

.AddForm-Box h3 {
    color: var(--pastel-tomato);
    font-weight: 600;
    margin-bottom: 1em;
}

.AddForm-categoryRadio {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.AddForm-categoryRadio .AddForm-categoryLabel {
    all: unset;
    cursor: pointer;
    color: gray;
    padding: 1em;
}

.AddForm-categoryLabel > input {
    margin-right: 1em;
}

#category {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    outline: none;
}

.AddForm-newCategory,
.AddForm-question,
.AddForm-choice1Img,
.AddForm-choice1,
.AddForm-choice2Img,
.AddForm-choice2 {
    outline: none;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    transition: 0.5s;
    /* font-size: 1.2em; */
}

.AddForm-Box #category,
.AddForm-Box input[type="text"] {
    border: 0.5px solid var(--pastel-brown);
}

#category:focus,
.AddForm-Box input[type="text"]:focus {
    border: 0.5px solid var(--pastel-tomato);
}

.AddForm-Box label {
    background-color: var(--pastel-lightPurple);
    color: white;
    padding: 0.5em;
    font-size: 0.8em;
    font-weight: 600;
    width: 30%;
    text-align: center;
    border-radius: 0.8em;
    margin: 0 auto 0.8em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.AddForm-Box input[type="file"] {
    display: none;
}

.AddForm-imgData {
    /* background-color: chartreuse; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AddForm-imgData .AddForm-img {
    height: 100px;
    border-radius: 0.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.AddForm-imgData button {
    all: unset;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin: 1em 0;
    cursor: pointer;
}

.AddForm-btns {
    margin: 2em 0 1em 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.AddForm-button,
.AddForm-cancelButton {
    all: unset;
    background-color: var(--pastel-tomato);
    padding: 1em 1.5em;
    color: white;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
}

.AddForm-cancelButton {
    background-color: gray;
}

.AddForm-button:active,
.AddForm-cancelButton:active {
    box-shadow: none;
}

/* Profile.js  */
.Profile {
    width: 100%;
    height: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.Profile-title {
    font-size: 2em;
    font-weight: 100;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    color: var(--pastel-purple);
}

.Profile-mail {
    margin-top: 1em;
    font-size: 0.8em;
}

.Profile-mail a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.Profile-userInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: var(--light-gray);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 1em 0;
}

.Profile-userInfo img {
    height: 50%;
    border-radius: 0.5em;
}

.Profile-text {
    line-height: 1.5;
    font-size: 0.9em;
}

.Profile-myTitle {
    font-size: 1.4em;
    /* font-weight: 600; */
    margin-top: 1em;
    color: var(--pastel-tomato);
    text-align: center;
}

.Profile-questions {
    width: 90%;
    height: 100%;
}
